		<div class="col-md-3">
			<h2>User info</h2>
			<%= attachment_image_tag current_user, :profile_image,  format: 'jpeg', class: "", fallback: "no_image.jpg", size: "120x140" %>
			<br>
			<br>
			<table class="table">
				<tbody>
					<tr>
						<td>Name</td>
						<td><%= current_user.username %></td>
					</tr>
					<tr>
						<td>Introduction</td>
						<td><%= current_user.Introduction %></td>
					</tr>
				</tbody>
			</table>

			<%= link_to edit_user_path(current_user.id), class: "btn btn-info btn-block" do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
			

			<h2>New Book</h2>
<!-- @を外した -->
			<%= form_for(book) do |f| %>
			    <label class="">Title</label>
			    <br>
			    <%= f.text_field :title, class:"book_title  col-md-12" %>
				<br>
			    <label class="">Opinion</label>
			    <br>
			    <%= f.text_area :opinion, class:"book_body col-md-12" %>
				<br>
				<br>
				<br>
			    <%= f.submit "Create Book", class:"btn btn-primary btn-block" %>
			<% end %>
		</div>