<div class="col-md-4 col-md-offset-4">
	<h2>Editing Book</h2>

	<%= form_for(@book) do |f| %>
		<label>Title</label><br>
		<%= f.text_field :title, placeholder: @book.title, class: "book_title btn-block" %><br>

		<label>Opinion</label><br>
		<%= f.text_area :opinion, placeholder: @book.opinion, class: "book_body btn-block" %><br>
		
		<%= f.submit 'Update Book', class: "btn btn-primary btn-block" %>
	
	<br>
		<%= link_to 'show', book_path(@book), class: "book_#{@book.id}" %>
		 | 
		<%= link_to 'back', books_path, class: "back" %>
	<% end %>
	
</div>