<h2>Books</h2>

<table>
	<thead>
		<tr>
			<th width="50px"></th>
			<th width="250px">Title</th>
			<th width="500px">Opinion</th>
		</tr>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td>ユーザ画像</td>
			<td><%= book.title %></td>
			<td><%= book.opinion %></td>
		</tr>
		<% end %>
	</tbody>
</table>



<h2>New Book</h2>

<%= form_for(@book) do |f| %>
    <label class="">Title</label>
    <br>
    <%= f.text_field :title, class:"book_title" %>
	<br>
    <label class="">Opinion</label>
    <br>
    <%= f.text_area :opinion, class:"book_body" %>
	<br>
    <%= f.submit "Create Book", class:"btn btn-info" %>
<% end %>