<div class="container">
	<div class="row">
		<%= render 'users/sidebar', book: @booknew, user: @user %>

		<div class="col-md-9">
			<h2>Book Detail</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th width="100px">Image</th>
						<th width="250px">Title</th>
						<th width="400px">Opinion</th>
						<th width="100px"></th>
						<th width="100px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image,  format: 'jpeg', class: "", fallback: "no_image.jpg", size: "60x70"%> <%=  %></td>
						<td><%= link_to @book.title, book_path(@book.id) %></td>
						<td><%= @book.opinion %></td>
						<!-- ログインユーザの投稿のみ編集・削除フォームが表示せれるようにする -->
						<td>
							<% if current_user.id == @book.user.id %>
								<%= link_to 'edit', edit_book_path, class: "edit_book#{@book.id} btn btn-info" %>
							<% end %>
						</td>
						<td>
							<% if current_user.id == @book.user.id %>
								<%= link_to 'destroy', book_path(@book), :method => :delete, data: { confirm: '削除しますか？' } , class: "destroy_book#{@book.id} btn btn-danger" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>_