<!DOCTYPE html>
<html>
  <head>
    <title>NeoBookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="header" id="header">
      <p>ヘッダ領域</p>
    </div>

   <%= yield %>
    
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
